[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
sklearn = "*"
plotly = "*"
networkx = "*"
scipy = "*"
matplotlib = "*"
pydot = "*"
seaborn = "*"
pydot-ng = "*"
graphviz = "*"

[dev-packages]

[requires]
python_version = "3.9"
